@charset "utf-8";
*{margin:0;padding:0}
div.standard{
	width:1080px;
	margin:auto;
}

.top{
height:70px;
background-image: linear-gradient( #240000,#500000,#240000);
}
#species{
  width: 1080px;
  height: 600px;
  margin: 0 auto;
}
#sex{
  width: 600px;
  height: 400px;
  margin: 10px;
  display: inline-block;
}
#specy{
  width: 600px;
  height: 400px;
  display: inline-block;
  margin: 10px;
}
#box{
	display:none;
	width: 180px;
	height: 30px;
}
#box-title{
	display:block;
}
.BMap_cpyCtrl {
    display: none;
}
.anchorBL {
    display: none;
}
.sp{
width:1080px;
margin:auto;
}
.logo{
height:50px;
margin-left:20px;
margin-top:3px;
}
.title1{

height:50px;
margin-left:-97px;
margin-top:7px;
}
.po_sex{
width:550px;
height:500px;
float:left;
}
.po_specy{
width:500px;
height:500px;
float:left;
margin-left:-250px;
margin-top:-15px;
}
.title2{
width:530px;
height:500px;
float:left;
}
.title3{
width:580px;
height:500px;
float:left;
padding-left:130px;
}
.img1{
height:350px;
}
.img2{
height:350px;
}
.wuzhong{
text-align:center;
}